<style>
  .resize{
    margin-bottom: 15rem;
    margin-top: 5rem;
  }
</style>
<p style="margin-top:2rem">
<%= search_form_for @search, class:"form-inline md-form mr-auto mb-4" do |f| %>  
  <%= f.search_field :student_id_cont, class:"form-control mr-sm-2", placeholder:"Search" %>
  <%= f.submit class:"btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
  <p>
<div class="resize">
<p id="notice"><%= notice %></p>
<table class="table">
  <thead class="thead-right">
  <h1 style:"text-align:center">Grades</h1>
    <tr>
      <th>Student Id</th>
      <th>Names</th>
      <th>Quiz 1</th>
      <th>Quiz 2</th>
      <th>Quiz 3</th>
      <th>Assignment 1</th>
      <th>Assignment 2</th>
      <th>Assignment 3</th>
      <th>Mid exam</th>
      <th>Final exam</th>
      <th>Out of 100</th>
      <th>Out of 20</th>
      <th>Course</th>
    
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <% if user_signed_in? %>
      <% if current_user.name==grade.course.user.name || current_user.name == grade.names %>
            <tr>
              <td><%= grade.student_id %></td>
              <td><%= grade.names %></td>
              <td><%= grade.quiz_1 %></td>
              <td><%= grade.quiz_2 %></td>
              <td><%= grade.quiz_3 %></td>
              <td><%= grade.assignment_1 %></td>
              <td><%= grade.assignment_2 %></td>
              <td><%= grade.assignment_3 %></td>
              <td><%= grade.mid_exam %></td>
              <td><%= grade.final_exam %></td>
              <td><%= grade.out_of_100.round(2)%></td>
              <td><%= grade.out_of_20.round(2) %></td>
              <td><%= grade.course.name %></td>
              <td>
          
                  <% if current_user.id==grade.course.user_id %>
                  <td> <%= link_to 'Edit', edit_grade_path(grade), class:"btn btn-outline-success my-2 my-sm-0", :"data-no-turbolink" => true, method: "get" %></td>
                  <td> <%= link_to 'Delete', grade, class:"btn btn-outline-danger my-2 my-sm-0", method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
              </td>
              </tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @grades%>
</div>