<p id="notice"><%= notice %></p>

<h1>Grades</h1>

<table class="table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Names</th>
      <th>Evaluation type</th>
      <th>Marks</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.student_id %></td>
        <td><%= grade.names %></td>
        <td><%= grade.evaluation_type %></td>
        <td><%= grade.marks %></td>
        <td><%= grade.course.name%></td>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <tr>
       <% @id=grade.student_id %>
       <% @assignment="Assignment" %>
       <% @quiz="quiz" %>
       <% @mid="Mid-Exam"%>
       <% @final="Final-Exam"%>
        </tr>
    <% end %>
    <td>Average of all assignments : <%= @assignments= Grade.where(:student_id => @id, :evaluation_type => @assignment).average(:marks).to_f %> </td>
    <td>Average of all quizes :<%= @quizes=  Grade.where(:student_id => @id, :evaluation_type => @quiz).average(:marks).to_f %> </td>
    <td>Mid : <%= @midexam= Grade.where(:student_id => @id, :evaluation_type => @mid).average(:marks).to_f %> </td>
    <td>Final: <%= @finalexam= Grade.where(:student_id => @id, :evaluation_type => @final).average(:marks).to_f %> </td>
   <tr>
    <td> /100:<%= @sum= @assignments + @quizes + @midexam + @finalexam %><td>
    <td> /20: <%= @sum/5 %><td>
   <tr>
    
    </tbody>
</table>

<br>

<%= link_to 'New Grade', new_grade_path %>
