<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @grade.student_id %>
</p>

<p>
  <strong>Names:</strong>
  <%= @grade.names %>
</p>

<p>
  <strong>Quiz 1:</strong>
  <%= @grade.quiz_1 %>
</p>

<p>
  <strong>Quiz 2:</strong>
  <%= @grade.quiz_2 %>
</p>

<p>
  <strong>Quiz 3:</strong>
  <%= @grade.quiz_3 %>
</p>

<p>
  <strong>Assignment 1:</strong>
  <%= @grade.assignment_1 %>
</p>

<p>
  <strong>Assignment 2:</strong>
  <%= @grade.assignment_2 %>
</p>

<p>
  <strong>Assignment 3:</strong>
  <%= @grade.assignment_3 %>
</p>

<p>
  <strong>Mid exam:</strong>
  <%= @grade.mid_exam %>
</p>

<p>
  <strong>Final exam:</strong>
  <%= @grade.final_exam %>
</p>

<p>
  <strong>Out of 100:</strong>
  <%= @grade.out_of_100 %>
</p>

<p>
  <strong>Out of 20:</strong>
  <%= @grade.out_of_20 %>
</p>

<p>
  <strong>Course:</strong>
  <%= @grade.course %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
