<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @grade.student_id %>
</p>

<p>
  <strong>Names:</strong>
  <%= @grade.names %>
</p>

<p>
  <strong>Evaluation type:</strong>
  <%= @grade.evaluation_type %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @grade.marks %>
</p>

<p>
  <strong>Course:</strong>
  <%= @grade.course %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
