<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
  .cont{
  margin-bottom: 15rem;
  margin-top: 5rem;
  }

</style>
</head>
<body>

<%= search_form_for @search, class:"form-inline md-form mr-auto mb-4" do |f| %>  
<%= f.search_field :title_cont, class:"form-control mr-sm-2", placeholder:"Search" %>
<%= f.submit class:"btn btn-outline-success my-2 my-sm-0" %>
<% end %>
<center>
<div class="container">
<div class="row">
<div class="col-md-8" style="margin-left:10rem;">
<div class="card">
<% if current_user.user_type == "Student" %>
<% @questions.each do |question| %>
  <% if user_signed_in? %>
  <% check = 0, links='1', id=nil%>
  <% Profile.all.each do |profile| %>
      <% check = 1%>
      <%links = question.user.profile.image.url if question.user.profile.present?%>
      <%id =profile%>
    <% end %>
  <% if check==1 %>
  <span style="color:white"></span>
  <p style="color:white"><%= image_tag links, class:"round" unless links.blank? %></p>
  <p><%= question.user.name %>--><%= link_to 'Start conversation', conversations_path(sender_id: current_user.id, recipient_id: question.user.id), method: :post, class:"btn btn-outline-primary my-2 my-sm-0" %>
  <% end %>
  </p>
  <% else %>
  <p><i class="fal fa-user"></i></p>
  <% end %>
  <% if question.image.url %>
    <%=  image_tag question.image.url, class:"card-img-top" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= question.title %></h5>
    <p class="card-text"><%= question.content %></p>
    <p class="card-text" style="color:green"> <i>Course<%= question.course.name %> <i></p>
  </div>
  <div class="card-footer">
    <small class="text-muted"><i class="fa fa-clock-o"></i><%= question.created_at %></small><br>
    <%= link_to 'show' , question, :"data-no-turbolink" => true, method: "get", class:"btn btn-outline-info my-2 my-sm-0" %>
    <%if user_signed_in?%>
    <% if current_user.id == question.user_id %>
    <%= link_to 'Edit', edit_question_path(question), :"data-no-turbolink" => true, method: "get", class:"btn btn-outline-warning my-2 my-sm-0" %>
    <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger my-2 my-sm-0" %>
    <% end %>
    <%= link_to 'add Comment', new_question_comment_path(question), :"data-no-turbolink" => true, method: "get",class:"btn btn-outline-success my-2 my-sm-0"%>
    <% end %>
    <%= question.comments.count%><%= link_to 'Comments', question_comments_path(question), :"data-no-turbolink" => true, method: "get", class:"btn btn-outline-secondary my-2 my-sm-0" %>
    </div><br>
  <% end %>
  <% else %>
<% if current_user.user_type=="Lecturer" %>
<% if current_user.courses.present? %>
<% current_user.courses.each do |cours| %>
  <% @c = cours.id %>
<% Question.where(course_id:@c).each do |question| %>
  <% if user_signed_in? %>
  <% check = 0, links='1', id=nil%>
  <% Profile.all.each do |profile| %>
      <% check = 1%>
      <%links = question.user.profile.image.url if question.user.profile.present?%>
      <%id =profile%>
    <% end %>
  <% if check==1 %>
  <span style="color:white"></span>
  <p style="color:white"><%= image_tag links, class:"round" unless links.blank? %></p>
  <p><%= question.user.name %>--><%= link_to 'Start conversation', conversations_path(sender_id: current_user.id, recipient_id: question.user.id), method: :post, class:"btn btn-outline-primary my-2 my-sm-0" %>
  <% end %>
  </p>
  <% else %>
  <p><i class="fal fa-user"></i></p>
  <% end %>
  <% if question.image.url %>
    <%=  image_tag question.image.url, class:"card-img-top" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= question.title %></h5>
    <p class="card-text"><%= question.content %></p>
    <p class="card-text" style="color:green"> <i>Course<%= question.course.name %> <i></p>
  </div>
  <div class="card-footer">
    <small class="text-muted"><i class="fa fa-clock-o"></i><%= question.created_at %></small><br>
    <%= link_to 'show' , question, :"data-no-turbolink" => true, method: "get", class:"btn btn-outline-info my-2 my-sm-0" %>
    <%if user_signed_in?%>
    <% if current_user.id == question.user_id %>
    <%= link_to 'Edit', edit_question_path(question), :"data-no-turbolink" => true, method: "get", class:"btn btn-outline-warning my-2 my-sm-0" %>
    <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger my-2 my-sm-0" %>
    <% end %>
    <%= link_to 'add Comment', new_question_comment_path(question), :"data-no-turbolink" => true, method: "get",class:"btn btn-outline-success my-2 my-sm-0"%>
    <% end %>
    <%= question.comments.count%><%= link_to 'Comments', question_comments_path(question), :"data-no-turbolink" => true, method: "get", class:"btn btn-outline-secondary my-2 my-sm-0" %>
    </div><br>
  <% end %>



<% end %>
<% end %>
<% end %>
<% end %>
  </div>
  <hr>
  <p style="margin-bottom:2rem"><%= link_to 'New Question', new_question_path, :"data-no-turbolink" => true, method: "get",class:"btn btn-outline-primary my-2 my-sm-0" %><p>
  <%= paginate @questions %>

</div>
</div>
</div>
</center>
</body>
</html>