<p id="notice"><%= notice %></p>
<div id="content">
      <h1>Questions</h1>
    <% @questions.each do |question| %>
    
    <div class="card question">
  <div class="card-header">
  <% if user_signed_in? %>
  <% check = 0, links='1', id=nil%>
  <% Profile.all.each do |profile| %>
      <% check = 1%>
      <%links = question.user.profile.image.url %>
      <%id =profile%>
    <% end %>
 <% if check==1 %>
 <span style="color:white"><hr></span>
  <p style="color:white"><%= image_tag links, class:"round" unless links.blank? %> 
  <% end %>
  </p>
  <% else %>
  <p><i class="fal fa-user"></i></p>
 <% end %>
  <%= question.user.email %></div>
  <div class="card-body">
  <p><%= question.title %></p>
 <p> <%= question.content %></p>
 <% if question.image.url %>
  <p><%=  image_tag question.image.url, class:"image" %></p>
  <% end %>
  </div> 
 

  <div class="card-footer">
   <%= link_to 'Show', question %>
   <%if user_signed_in?%>
  <% if current_user.id == question.user_id %>
   <%= link_to 'Edit', edit_question_path(question) %>
   <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
   <% end %>
   <%= link_to 'add Comment', new_question_comment_path(question) %>

  <% end %>
  <%= question.comments.count%> <%= link_to 'Comments', question_comments_path(question) %>
   </div>
</div>
<hr>
<% end %>

<%= link_to 'New Question', new_question_path %>
</div>