<div style="margin-top:6rem">

<% if @over_ten %>
  <%= link_to 'Previous messages', '?m=all' %>
<% end %>

<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.content.present? %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= message.user.name %></strong> <%= message.message_time %></div>
         
              <i class="right triangle icon"></i>
              <%= message.content %>
              <% if message.user == current_user %>
            <span style="color:green">  /<%= message.read ? 'Already read' : 'Unread' %></span>
              <% end %> 
             
            </div>
            <br>
       
      </div>
  
    <% end %>
  <% end %>
</div>

<div>

<%= form_with(model: [@conversation, @message]) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder:"type a message", class: "form-control", 
    style:"width:50%" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div class="button" >
    <%= f.submit "send a message" %>
  </div>
<% end %>
</div>
