
<div class="card login" id="pop">
  <div class="card-body">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 style="color:white">Sign up</h2>
    <div class="field">
  
    <%= f.text_field :name, class:"form-control", placeholder:"Enter your names"%>
  </div>
    <div class="field">

      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Enter email" %>
    </div>
  
    <div class="field">
     
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Enter password" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm password" %>
    </div>
    <div class="field"  style="width:80px">
    user type<br />
    <%= f.select :user_type, ['Lecturer', 'Student'], class:"form-control", id:"student"%>
   <%= f.text_field :student_id, "data-depends-on" => "#student", "data-depends-on-value" => "Student" %>
  </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>

  
  </div>
</div>


