<p id="notice"><%= notice %></p>
<div>
  <div>
<h1>Comments</h1>

    <% @comments.each do |comment| %>
      <div class="col-lg-4 col-md-6 course-item">
      <% if user_signed_in? %>
  <% check = 0, links='1', id=nil%>
  <% Profile.all.each do |profile| %>
      <% check = 1%>
      <%links = comment.user.profile.image.url %>
      <%id =profile%>
    <% end %>
 <% if check==1 %>
 <span style="color:white"></span>
  <p style="color:white"><%= image_tag links, class:"round" unless links.blank? %> 
  <% end %>
  </p>
  <% else %>
  <p><i class="fal fa-user"></i></p>
 <% end %>
     <%= comment.user.name %>
        <div class="course-thumb">
        <% if comment.image.url %>
        <%=  image_tag comment.image.url%>
        <% end %>
          <div class="course-cat">
            <span><%= comment.title %></span>
          </div>
        </div>
        <div class="course-info">
          <div class="date"><i class="fa fa-clock-o"></i><%=time_ago_in_words(comment.created_at) %> ago</div>
          <p>Commented question:<%= comment.question.title %></p>
          <%= link_to 'Back', questions_path, :"data-no-turbolink" => true, method: "get", class:"btn btn-dark" %>
          <% if user_signed_in? %>
          <%if current_user.id==comment.user_id %>
          <% link_to 'Edit', [comment.question, comment], method: :edit, :"data-no-turbolink" => true, method: "get", class:"btn btn-warning" %>
           <%= link_to 'Delete', [comment.question, comment], method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
      </div>
      </div>
<p style="text-align:center"><%= link_to 'add Comment', new_question_comment_path, :"data-no-turbolink" => true, method: "get", class:"btn btn-success" %></p>
<%= paginate @comments%>
</div>
</div>