<div>
<%= search_form_for @search do |f| %>  
  <%= f.label :name_cont, "Enter name" %>
  <%= f.search_field :name_cont %>
  <%= f.submit%>
<% end %>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>
      <div class="item">
       <%= user.name %>
       <i class='btn btn-success btn-sm' >  <%= link_to 'Start conversation', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></i>
        </div>
    <% else %>
    <%= link_to user.name %>(you)
  <% end %>
<% end %>
</div>
<%= paginate @users%>