<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @quize.student_id %>
</p>

<p>
  <strong>Names:</strong>
  <%= @quize.names %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @quize.quiz %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @quize.marks %>
</p>

<p>
  <strong>Average out of15:</strong>
  <%= @quize.average_out_of15 %>
</p>

<p>
  <strong>Course:</strong>
  <%= @quize.course.name %>
</p>

<%= link_to 'Edit', edit_quize_path(@quize) %> |
<%= link_to 'Back', quizes_path %>
