<!DOCTYPE html>
<html lang="en">
<body style="background-color: white !important;">
<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<style>
.table,.p{
  margin-bottom: 5rem;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px; 
}

</style>
      <div class="card" style="width: 18rem;">
      <div class="card-header">
      Your Courses
      </div>
      <ul class="list-group list-group-flush">

      <% @courses.each do |course| %>
        <% if user_signed_in? %>
        <% if current_user.id == course.user_id %>
        <li class="list-group-item"><%= link_to course.name, course, :"data-no-turbolink" => true, method: "get"%></li>
        <%= link_to 'Download Excel report', grades_path(:course_id => course.id, format: :xlsx),class:"btn btn-outline-success my-2 my-sm-0" %>
          <% else %>
          <% if course.grades.present? %>
          <% course.grades.each do |grade| %>  
          <% if current_user.name == grade.names %>
          <li class="list-group-item"> <%=link_to course.name, course, :"data-no-turbolink" => true, method: "get"%></li>
          <% end %>
          <% end %>
          <% end %>
          <% end %>
          <% end %>
          <% end %>
        </ul>
    </div>    
<% if current_user.user_type=="Lecturer" %>
<p class="p"><%= link_to 'New Course', new_course_path, :"data-no-turbolink" => true, method: "get", class:"btn btn-outline-success my-2 my-sm-0"%></p>
<% end %>
</body>
<br>


</html>