
<body style="background-color: white !important">
<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Course code</th>
      <th>Name</th>
      <th>Credit</th>
      <th>Teacher</th>
      <th>Notes</th>
      <th>Marks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.credit %></td>
        <td><%= course.user.email%></td>
        <td> <%= link_to 'Notes', course_materials_path(course), :"data-no-turbolink" => true, method: "get"  %></td>
        <td><%= link_to 'Grades', grades_path, :"data-no-turbolink" => true, method: "get" %></td>
        <td><%= link_to 'Show', course, :"data-no-turbolink" => true, method: "get"  %></td>
        <% if user_signed_in? %>
        <% if current_user.id==course.user_id %>
        <td><%= link_to 'Edit', edit_course_path(course), :"data-no-turbolink" => true, method: "get"  %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, :"data-no-turbolink" => true, method: "get"  %></td>
        <td> <%= link_to 'upload notes', new_course_material_path(course), :"data-no-turbolink" => true, method: "get"  %></td>
        <td><%= link_to 'Record Marks', new_grade_path(:course_id => course.id), :"data-no-turbolink" => true, method: "get"  %></td>
        <%= link_to 'New Course', new_course_path, :"data-no-turbolink" => true, method: "get"%>
        <% end %>
        <% end %>
        </tr>
        <% end %>
    
  </tbody>
</table>
</body>
<br>
<%= paginate @courses%>

