<p id="notice"><%= notice %></p>

<h4 class="text-center">Notes</h4>
<center>
<table class="table" style="width:40rem;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Course</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.title %></td>
        <td><%= material.course.name %></td>
        <td><%= link_to 'Download', material.content_url, class:"btn btn-outline-primary my-2 my-sm-0" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @materials%>
<br>

<%= link_to 'New Material', new_course_material_path, class:"btn btn-outline-success my-2 my-sm-0" %>
</center>