<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @material.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @material.content %>
</p>

<p>
  <strong>Course:</strong>
  <%= @material.course %>
</p>

<%= link_to 'Edit', edit_material_path(@material), :"data-no-turbolink" => true, method: "get" %> |
<%= link_to 'Back', materials_path,:"data-no-turbolink" => true, method: "get" %>
