<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @exam.student_id %>
</p>

<p>
  <strong>Names:</strong>
  <%= @exam.names %>
</p>

<p>
  <strong>Mid exam:</strong>
  <%= @exam.mid_exam %>
</p>

<p>
  <strong>Final exam:</strong>
  <%= @exam.final_exam %>
</p>

<p>
  <strong>Course:</strong>
  <%= @exam.course %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
